---
import Tools from "../components/Tools";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prateek Soni">
  <main class="max-w-[70ch] mx-auto">
    <h1 class="text-5xl font-head">About</h1>
    <div class="p-8"></div>
    <h2 class="text-3xl font-head">Background</h2>
    <div class="mt-8 space-y-8 text-xl leading-relaxed">
      <p>
        Hey there! I'm Prateek Soni, an experienced software developer working
        at IBM.
      </p>
      <p>
        I like to spend my time designing and building solutions, engaging with
        the community, as well as pushing myself to learn more through pair
        programming and group projects.
      </p>
      <p>
        I am seeking employment that will make best use of my skills and allow
        me to develop them further. I am determined, enthusiastic and confident
        in working independently or with a team.
      </p>
    </div>

    <div
      class="mt-36 grid grid-cols-[1fr_auto_1fr] gap-8 justify-items-stretch place-items-center"
    >
      <div class="border border-blue-400 flex-1"></div>
      <h2 class="text-3xl font-head w-max">Tools & Technologies</h2>
      <div class="border border-blue-400 flex-1"></div>
    </div>

    <p class="mt-24 text-xl leading-relaxed text-center">
      One of my favourite things since I starting to learn to code has
      discovering all of the amazing tools and abstractions developers have
      created to make theirs and other developers' lives easier. Here are some
      of the tools I use most frequently.
    </p>
    <Tools />
  </main>
</Layout>

<style>
  svg {
    color: white;
  }
</style>
