---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Prateek Soni">
	<main class="container mx-auto">
		<!-- Header section -->
		<Hero />
		<Projects />
	</main>
</Layout>
