---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Prateek Soni">
	<main class="container mx-auto">
		<!-- Header section -->
		<Hero />
		<About />
	</main>
</Layout>
