<section class="h-screen flex flex-col justify-center relative">
  <div class="grid grid-cols-2">
    <div>
      <h1 class="text-6xl font-head font-bold">Hi, I'm Prateek Soni</h1>
      <p class="text-2xl leading-relaxed mt-4">
        Welcome to my space on the internet, where you can find my works,
        thoughts, favourite games and other random things.
      </p>

      <h2 class="text-4xl font-head font-bold mt-16">Ok, but who am I?</h2>
      <div class="text-xl mt-4 leading-relaxed">
        <p>
          I&apos;m a curiosity-driven, performace-focused developer, building
          rich, user-centric, inclusive experiences on the web.
        </p>
        <p class="mt-4">
          Feel free to have a look around, and learn more about myself and what
          I like to work on.
        </p>
      </div>
      <button
        class="border border-blue-400 py-3 px-6 mt-6 rounded text-blue-400 font-head text-xl hover:bg-blue-400 hover:text-white transition-all"
        >Get in touch
      </button>
    </div>
  </div>
  <div class="absolute bottom-24 left-0 right-0 text-center">Scroll down</div>
</section>
